$px: 1.5rem;
$px-text-button: 0.75rem;
$height: 2.5rem;

.button {
  $parent-selector: &;

  position: relative;
  width: fit-content;
  height: $height;
  background-color: aquamarine;

  &__shape {
    position: absolute;
    inset: 0;
    background-color: red;
  }

  &__state {
    position: absolute;
    inset: 0;
    background-color: blue;
  }

  &__content {
    position: relative;
    top: 50%;
    padding-inline: $px;
    transform: translateY(-50%);
    @at-root #{$parent-selector}[has-selector='true'] #{&} {
    }
  }
}
