$duration: 200ms;
$easing: cubic-bezier(0.2, 0, 0, 1);
$track-rad: 0.25rem;

.canvas-container {
  display: grid;
  place-items: center center;
  overflow: hidden;
  background-color: var(--secondary-container-light);
  border-radius: $track-rad;
  transition: background-color $duration $easing;
  &[data-theme='dark']#{&} {
    background-color: var(--secondary-container-dark);
  }
}

.canvas {
  grid-row: 1;
  grid-column: 1;
}

.svg {
  grid-row: 1;
  grid-column: 1;
}
