$width: 3.25rem;
$height: 2rem;
$border-width: 0.125rem;
$handle-size: 3rem;
$handle-state-size: 2.5rem;
$handle-shape-size-false: 1rem;
$handle-shape-size-pressed: 1.75rem;
$handle-shape-size-true: 1.5rem;
$handle-shape-rad: 0.25rem;
$handle-state-rad: $handle-shape-rad;
$rad: $handle-shape-rad + $border-width;
$duration: 100ms;
$easing: ease-in;

.switch {
  $parent-selector: &;

  &__shape {
    background-color: var(--surface-container-highest-light);
    border-color: var(--outline-light);
    opacity: 1;
    @at-root #{$parent-selector}[data-theme='dark'] #{&} {
      background-color: var(--surface-container-highest-dark);
      border-color: var(--outline-dark);
    }

    @at-root #{$parent-selector}[data-state='disabled'] #{&} {
      background-color: var(--surface-variant-light);
      border-color: var(--on-surface-light);
      opacity: 0.12;
      @at-root #{$parent-selector}[data-theme='dark']#{&} {
        background-color: var(--surface-variant-dark);
        border-color: var(--on-surface-dark);
      }
    }

    @at-root #{$parent-selector}[data-value='true'] #{&} {
      background-color: var(--primary-light);
      border-color: var(--primary-light);
      @at-root #{$parent-selector}[data-theme='dark']#{&} {
        background-color: var(--primary-dark);
        border-color: var(--primary-dark);
      }

      @at-root #{$parent-selector}[data-state='disabled']#{&} {
        background-color: var(--on-surface-light);
        border-color: var(--on-surface-light);
        @at-root #{$parent-selector}[data-theme='dark']#{&} {
          background-color: var(--on-surface-dark);
          border-color: var(--on-surface-dark);
        }
      }
    }
  }

  &__handle {
    transform: translate(-50%, -50%);

    @at-root #{$parent-selector}[data-value='true'] #{&} {
      transform: translate(calc(-50% + $width - $height), -50%);
    }

    &__state {
      background-color: var(--on-surface-light);
      opacity: 0;
      transform: translate(-50%, -50%) scale(0%, 0%);
      @at-root #{$parent-selector}[data-theme='dark'] #{&} {
        background-color: var(--on-surface-dark);
      }

      @at-root #{$parent-selector}[data-state='hovered'] #{&} {
        opacity: 0.08;
        transform: translate(-50%, -50%) scale(100%, 100%);
      }

      @at-root #{$parent-selector}[data-state='focused'] #{&} {
        opacity: 0.12;
        transform: translate(-50%, -50%) scale(100%, 100%);
      }

      @at-root #{$parent-selector}[data-state='pressed'] #{&} {
        opacity: 0.12;
        transform: translate(-50%, -50%) scale(100%, 100%);
      }

      @at-root #{$parent-selector}[data-value='true'] #{&} {
        background-color: var(--primary-container-light);
        @at-root #{$parent-selector}[data-theme='dark']#{&} {
          background-color: var(--primary-container-dark);
        }
      }
    }

    &__shape {
      width: $handle-shape-size-false;
      height: $handle-shape-size-false;
      background-color: var(--outline-light);
      opacity: 1;
      @at-root #{$parent-selector}[data-theme='dark'] #{&} {
        background-color: var(--outline-dark);
      }

      @at-root #{$parent-selector}[data-state='hovered'] #{&} {
        background-color: var(--on-surface-light);
        @at-root #{$parent-selector}[data-theme='dark']#{&} {
          background-color: var(--on-surface-dark);
        }
      }

      @at-root #{$parent-selector}[data-state='focused'] #{&} {
        background-color: var(--on-surface-light);
        @at-root #{$parent-selector}[data-theme='dark']#{&} {
          background-color: var(--on-surface-dark);
        }
      }

      @at-root #{$parent-selector}[data-state='pressed'] #{&} {
        width: $handle-shape-size-pressed;
        height: $handle-shape-size-pressed;
        background-color: var(--on-surface-light);
        @at-root #{$parent-selector}[data-theme='dark']#{&} {
          background-color: var(--on-surface-dark);
        }
      }

      @at-root #{$parent-selector}[data-state='disabled'] #{&} {
        background-color: var(--on-surface-light);
        opacity: 0.38;
        @at-root #{$parent-selector}[data-theme='dark']#{&} {
          background-color: var(--on-surface-dark);
        }
      }

      @at-root #{$parent-selector}[data-value='true'] #{&} {
        width: $handle-shape-size-true;
        height: $handle-shape-size-true;
        background-color: var(--on-primary-light);
        @at-root #{$parent-selector}[data-theme='dark']#{&} {
          background-color: var(--on-primary-dark);
        }

        @at-root #{$parent-selector}[data-state='hovered']#{&} {
          background-color: var(--primary-container-light);
          @at-root #{$parent-selector}[data-theme='dark']#{&} {
            background-color: var(--primary-container-dark);
          }
        }

        @at-root #{$parent-selector}[data-state='focused']#{&} {
          background-color: var(--primary-container-light);
          @at-root #{$parent-selector}[data-theme='dark']#{&} {
            background-color: var(--primary-container-dark);
          }
        }

        @at-root #{$parent-selector}[data-state='pressed']#{&} {
          width: $handle-shape-size-pressed;
          height: $handle-shape-size-pressed;
          background-color: var(--primary-container-light);
          @at-root #{$parent-selector}[data-theme='dark']#{&} {
            background-color: var(--primary-container-dark);
          }
        }

        @at-root #{$parent-selector}[data-state='disabled']#{&} {
          background-color: var(--surface-light);
          opacity: 1;
          @at-root #{$parent-selector}[data-theme='dark']#{&} {
            background-color: var(--surface-dark);
          }
        }
      }
    }
  }
}
