$g: 0.25rem;

.radio-group {
  $root-selector: &;

  &__root {
    display: grid;

    &[data-orientation='vertical'] {
      grid-auto-rows: minmax(min-content, 1fr);
      grid-auto-flow: row;
      row-gap: $g;
      place-items: center start;
    }

    &[data-orientation='horizontal'] {
      grid-auto-columns: minmax(min-content, 1fr);
      grid-auto-flow: column;
      column-gap: $g;
      place-items: center start;
    }
  }
}
