.inputnumber {
  display: grid;
  grid-template-rows: 2.75rem;
  grid-template-columns: 2.75rem 1fr 2.75rem;
  -moz-column-gap: 0.125rem;
       column-gap: 0.125rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  color: oklch(10% 0 0deg);
  background-color: oklch(80% 0 0deg);
  border: 0.125rem solid oklch(80% 0 0deg);
  border-radius: 1.5rem;
  transition: border-color 100ms ease-in;
}
.inputnumber:has(.inputnumber__field:focus) {
  border-color: oklch(50% 0 0deg);
}
.inputnumber__button {
  display: grid;
  place-items: center center;
  font-size: 1.5rem;
  line-height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.inputnumber__button--role-decrease {
  grid-row: 1;
  grid-column: 1;
  background-color: oklch(90% 0 0deg);
  border-radius: 1.375rem 0 0 1.375rem;
}
.inputnumber__button--role-increase {
  grid-row: 1;
  grid-column: 3;
  background-color: oklch(90% 0 0deg);
  border-radius: 0 1.375rem 1.375rem 0;
}
.inputnumber__field {
  box-sizing: content-box;
  grid-row: 1;
  grid-column: 2;
  width: calc(var(--ch) * 1ch);
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  font: inherit;
  line-height: 1.5rem;
  text-align: right;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  border: none;
}
.inputnumber__field::-webkit-inner-spin-button, .inputnumber__field::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
          appearance: none;
}
.inputnumber__field:focus {
  outline: none;
}