$h: 3rem;
$border-thickness: 0.125rem;

.numbox {
  display: grid;
  grid-template-rows: $h - 2 * $border-thickness;
  grid-template-columns: $h - 2 * $border-thickness 1fr $h - 2 * $border-thickness;
  column-gap: $border-thickness;
  width: fit-content;
  font-size: 1rem;
  color: oklch(10% 0 0deg);
  border: $border-thickness solid oklch(80% 0 0deg);
  border-radius: 0.5 * $h;
  transition: border-color 100ms ease-in;

  &:has(#{&}__field:focus) {
    border-color: oklch(50% 0 0deg);
  }

  &__button {
    display: grid;
    place-items: center center;
    font-size: 1.5rem;
    line-height: 100%;
    cursor: pointer;
    user-select: none;

    &--role {
      &-decrease {
        grid-row: 1;
        grid-column: 1;
        background-color: oklch(90% 0 0deg);
        border-radius: 0.5 * ($h - 2 * $border-thickness) 0 0 0.5 *
          ($h - 2 * $border-thickness);
      }

      &-increase {
        grid-row: 1;
        grid-column: 3;
        background-color: oklch(90% 0 0deg);
        border-radius: 0 0.5 * ($h - 2 * $border-thickness) 0.5 *
          ($h - 2 * $border-thickness) 0;
      }
    }
  }

  &__field {
    box-sizing: content-box;
    grid-row: 1;
    grid-column: 2;
    width: calc(var(--ch) * 1ch);
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    font: inherit;
    line-height: 1.5rem;
    text-align: right;
    appearance: textfield;
    border: none;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0;
      appearance: none;
    }

    &:focus {
      outline: none;
    }
  }
}
