$border-rad: 0.25rem;
$icon-size: 0.75rem;
$icon-py: 0.25rem;
$duration: 200ms;
$easing: cubic-bezier(0.2, 0, 0, 1);

.swatch {
  $root-selector: &;

  &__root {
    display: block;
    user-select: none;
  }

  &__preview {
    height: 3rem;
    background-color: oklch(
      var(--lightness) var(--chroma) calc(var(--hue) * 1deg)
    );
    border-radius: $border-rad;
  }

  &__status {
    display: grid;
    align-items: center center;
    padding-block: $icon-py;

    &__icon {
      grid-row: 1;
      grid-column: 1;
      font-size: $icon-size;
      font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 20;
      line-height: $icon-size;
      color: var(--outline-variant-light);
      text-align: center;
      opacity: 0;
      transition: color $duration $easing, opacity $duration $easing;
      @at-root #{$root-selector}[data-theme='dark'] #{&} {
        color: var(--outline-variant-dark);
      }

      &--part {
        &-warning {
          @at-root #{$root-selector}[data-gamut='p3'] #{&} {
            opacity: 1;
          }
        }

        &-error {
          @at-root #{$root-selector}[data-gamut='unknown'] #{&} {
            opacity: 1;
          }
        }
      }
    }
  }
}
