$duration: 200ms;
$easing: cubic-bezier(0.2, 0, 0, 1);

.palette {
  $root-selector: &;

  &__root {
    max-width: 100%;
    padding-inline: 48px;
    overflow: scroll auto;
    scrollbar-width: none;
    user-select: none;

    &:focus {
      outline: none;
    }
  }

  &__grid {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: repeat(110, minmax(12px, 1fr));
    column-gap: 2px;
    place-items: stretch stretch;
    width: fit-content;
    padding: 1rem;
    margin-inline: auto;
    background-color: var(--surface-light);
    border-color: var(--outline-variant-light);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;

    @at-root #{$root-selector}[data-theme='dark'] #{&} {
      background-color: var(--surface-dark);
      border-color: var(--outline-variant-dark);
    }
    @at-root #{$root-selector}[data-selected] #{&} {
      border-color: var(--primary-light);
      @at-root #{$root-selector}[data-theme='dark']#{&} {
        border-color: var(--primary-dark);
      }
    }
  }

  &__scale {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    grid-row: 1;
    grid-column: 1 / -1;
    place-items: center start;

    &__num {
      grid-column-end: span 10;
    }
  }

  &__swatches {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    grid-row: 2;
    grid-column: 1 / -1;
    place-items: stretch stretch;
    padding-left: 0;
    margin-block: 0;
    list-style: none;

    &::after {
      display: block;
      content: '';
      @at-root #{$root-selector}[data-total-swatches='10'] #{&} {
        display: none;
      }
      @at-root #{$root-selector}[data-total-swatches='20'] #{&} {
        grid-column-end: span 5;
      }
      @at-root #{$root-selector}[data-total-swatches='50'] #{&} {
        grid-column-end: span 8;
      }
      @at-root #{$root-selector}[data-total-swatches='100'] #{&} {
        grid-column-end: span 9;
      }
    }
  }

  &__swatch {
    @at-root #{$root-selector}[data-total-swatches='10'] #{&} {
      grid-column-end: span 10;
    }
    @at-root #{$root-selector}[data-total-swatches='20'] #{&} {
      grid-column-end: span 5;
    }
    @at-root #{$root-selector}[data-total-swatches='50'] #{&} {
      grid-column-end: span 2;
    }
    @at-root #{$root-selector}[data-total-swatches='100'] #{&} {
      grid-column-end: span 1;
    }
  }
}
