$chip-br: 0.5rem;
$p: 0.5rem;
$border-thickness: 0.125rem;
$colour-border: oklch(95% 0 0deg);
$br: $chip-br + $p;

.palette {
  width: fit-content;
  padding-left: 0;
  cursor: pointer;
  background-color: oklch(100% 0 0deg);
  border: $border-thickness solid $colour-border;
  border-radius: $br;

  &-selected {
    border-color: oklch(80% 0 0deg);
  }
}

.info {
  position: relative;
  padding-block: 0.75rem;
  padding-inline: $br;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1em;

  &__sticky {
    position: sticky;
    left: $br;
    width: fit-content;
  }
}

.chips {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  column-gap: 4px;
  padding: $p - $border-thickness;
  margin-block: 0;
  background-color: $colour-border;
  border-radius: 0 0 $br - $border-thickness $br - $border-thickness;
}
