.palette {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 0.125rem solid oklch(80% 0 0deg);
  border-radius: 0.75rem;
  transition: border-color 150ms ease-in;
}
.palette--state-selected {
  border-color: oklch(50% 0 0deg);
}
.palette__info {
  padding-block: 0.875rem;
  padding-inline: 0.875rem;
  font-size: 0.75rem;
  line-height: 100%;
}
.palette__info__sticky {
  position: sticky;
  left: 0.875rem;
  width: -moz-fit-content;
  width: fit-content;
}
.palette__info__label {
  font-variation-settings: "wdth" 75;
  font-weight: 300;
  color: oklch(30% 0 0deg);
}
.palette__info__value {
  font-weight: 500;
  color: oklch(10% 0 0deg);
}
.palette__chips {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  padding: 0.875rem;
  margin-block: 0;
  background-color: oklch(98% 0 0deg);
  border-radius: 0.625rem;
}