$border-rad: 0.25rem;
$duration: 200ms;
$easing: cubic-bezier(0.2, 0, 0, 1);

.chip {
  $root-selector: &;

  position: relative;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr;
  white-space: nowrap;
  user-select: none;

  &__sample {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    background-color: oklch(var(--bg-l) var(--bg-c) calc(var(--bg-h) * 1deg));
    border-radius: $border-rad $border-rad 0 0;
  }

  &__info {
    display: grid;
    grid-template-rows: repeat(3, 1lh);
    grid-template-columns: max-content 1fr;
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    gap: 0.5rem 0.75rem;
    padding: 1rem;
    font-size: 0.625rem;
    line-height: 100%;
    opacity: 0;
    transition: opacity $duration $easing;

    @at-root #{$root-selector}[data-hovered] #{&} {
      opacity: 1;
    }
  }

  &__label {
    grid-column: 1 / span 1;
    font-variation-settings: 'wdth' 75;
    font-weight: 300;
    color: oklch(
      var(--txt-week-l) var(--txt-week-c) calc(var(--txt-week-h) * 1deg)
    );

    &--for {
      &-l {
        grid-row: 1 / span 1;
      }

      &-c {
        grid-row: 2 / span 1;
      }

      &-h {
        grid-row: 3 / span 1;
      }
    }
  }

  &__value {
    grid-column: 2 / span 1;
    font-weight: 500;
    color: oklch(
      var(--txt-strong-l) var(--txt-strong-c) calc(var(--txt-strong-h) * 1deg)
    );
    text-align: right;

    &--for {
      &-l {
        grid-row: 1 / span 1;
      }

      &-c {
        grid-row: 2 / span 1;
      }

      &-h {
        grid-row: 3 / span 1;
      }
    }
  }

  &__name {
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 100%;
    color: var(--on-surface-light);
    text-align: center;
    background-color: var(--surface-container-low-light);
    border-radius: 0 0 $border-rad $border-rad;
    transition: background-color $duration $easing, color $duration $easing;
    @at-root #{$root-selector}[data-theme='dark'] #{&} {
      color: var(--on-surface-dark);
      background-color: var(--surface-container-low-dark);
    }
  }

  &__icon {
    position: absolute;
    right: -4px;
    bottom: -4px;
    font-size: 1rem;
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 20;
    line-height: 100%;
    opacity: 0;
    transition: color $duration $easing, opacity $duration $easing;

    &--part {
      &-warning {
        color: var(--warning-light);
        @at-root #{$root-selector}[data-theme='dark'] #{&} {
          color: var(--warning-dark);
        }
        @at-root #{$root-selector}--gamut-p3 #{&} {
          opacity: 1;
        }
      }

      &-error {
        color: var(--error-light);
        @at-root #{$root-selector}[data-theme='dark'] #{&} {
          color: var(--error-dark);
        }
        @at-root #{$root-selector}--gamut-out #{&} {
          opacity: 1;
        }
      }
    }
  }
}
