.chip {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 0.25rem;
}
.chip__sample {
  grid-row: 1;
  grid-column: 1;
  background-color: oklch(var(--bg-l) var(--bg-c) calc(var(--bg-h) * 1deg));
  border-radius: 0.25rem 0.25rem 0 0;
}
.chip__info {
  display: grid;
  grid-template-rows: repeat(3, 1lh);
  grid-template-columns: max-content 1fr;
  grid-row: 1;
  grid-column: 1;
  gap: 0.5rem 0.75rem;
  padding: 1rem;
  font-size: 0.625rem;
  line-height: 100%;
  opacity: 0;
  transition: opacity 150ms ease-in;
}
.chip:hover .chip__info {
  opacity: 1;
}

.chip__label {
  grid-column: 1;
  font-variation-settings: "wdth" 75;
  font-weight: 300;
  color: oklch(var(--txt-week-l) var(--txt-week-c) calc(var(--txt-week-h) * 1deg));
}
.chip__label--for-l {
  grid-row: 1;
}
.chip__label--for-c {
  grid-row: 2;
}
.chip__label--for-h {
  grid-row: 3;
}
.chip__value {
  grid-column: 2;
  font-weight: 500;
  color: oklch(var(--txt-strong-l) var(--txt-strong-c) calc(var(--txt-strong-h) * 1deg));
  text-align: right;
}
.chip__value--for-l {
  grid-row: 1;
}
.chip__value--for-c {
  grid-row: 2;
}
.chip__value--for-h {
  grid-row: 3;
}
.chip__name {
  grid-row: 2;
  grid-column: 1;
  padding: 0.375rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 100%;
  color: oklch(10% 0 0deg);
  text-align: center;
  background-color: oklch(100% 0 0deg);
  border: 0.125rem solid oklch(80% 0 0deg);
  border-radius: 0 0 0.25rem 0.25rem;
}
.chip--gamut-p3 .chip__name {
  border-color: oklch(75% 0.18 75deg);
}

.chip--gamut-out .chip__name {
  border-color: oklch(65% 0.29 30deg);
}