$border-r: 0.5rem;
$colour-bg: oklch(98% 0 0deg);
$colour-idle: oklch(88% 0 0deg);
$colour-warning: oklch(73% 0.15 75deg);
$colour-alert: oklch(58% 0.23 30deg);

.chip {
  $badge-size: 0.5rem;
  $offset: -0.25;

  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border-radius: $border-r;
}

.sample {
  grid-row: 1;
  grid-column: 1;
  aspect-ratio: 1 / 1;
  background-color: oklch(var(--bg-l) var(--bg-c) calc(var(--bg-h) * 1deg));
}

.info {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: max-content 1fr;
  grid-row: 1;
  grid-column: 1;
  gap: 0.25rem 0.75rem;
  aspect-ratio: 1 / 1;
  padding-block: 1rem 0.75rem;
  padding-inline: 1rem;
  font-size: 0.75rem;
  line-height: 100%;
  opacity: 0;
  transition: opacity 150ms ease-in;

  @at-root .chip:hover #{&} {
    opacity: 1;
  }

  &__label {
    grid-column: 1;
    font-variation-settings: 'wdth' 75;
    font-weight: 300;
    color: oklch(
      var(--txt-week-l) var(--txt-week-c) calc(var(--txt-week-h) * 1deg)
    );

    &-l {
      grid-row: 1;
    }

    &-c {
      grid-row: 2;
    }

    &-h {
      grid-row: 3;
    }
  }

  &__value {
    $font-weight: 500;

    grid-column: 2;
    font-weight: 500;
    color: oklch(
      var(--txt-strong-l) var(--txt-strong-c) calc(var(--txt-strong-h) * 1deg)
    );
    text-align: right;

    &-l {
      grid-row: 1;
    }

    &-c {
      grid-row: 2;
    }

    &-h {
      grid-row: 3;
    }
  }
}

.name {
  grid-row: 2;
  grid-column: 1;
  padding-block: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 100%;
  color: oklch(30% 0 0deg);
  text-align: center;
  background-color: oklch(100% 0 0deg);
  border: 0.125rem solid #000;
  border-radius: 0 0 $border-r $border-r;

  @at-root .chip--gamut-srgb #{&} {
    border-color: $colour-idle;
  }

  @at-root .chip--gamut-p3 #{&} {
    border-color: $colour-warning;
  }

  @at-root .chip--gamut-out #{&} {
    border-color: $colour-alert;
  }
}
