$min-size: 25rem;
$handle-size: 3rem;
$handle-state-size: 2.5rem;
$handle-shape-size-idle: 1rem;
$handle-shape-size-pressed: 1.75rem;
$handle-shape-tick-gap-idle: 0.25rem;
$handle-shape-tick-gap-pressed: 0.5rem;
$handle-shape-tick-width-idle: 0.25rem;
$handle-shape-tick-width-pressed: 0.125rem;
$handle-shape-tick-rad: 512rem;
$handle-state-rad: 512rem;
$rad: 0.25rem;
$duration: 100ms;
$easing: ease-in;

.xy-slider {
  $parent-selector: &;

  &__shape {
    border-color: var(--surface-container-light);
    @at-root #{$parent-selector}[data-theme='dark'] #{&} {
      border-color: var(--surface-container-dark);
    }
  }

  &__track {
    &__shape {
      background-color: var(--primary-container-light);
      @at-root #{$parent-selector}[data-theme='dark'] #{&} {
        background-color: var(--primary-container-dark);
      }
    }
  }

  &__handle {
    &__state {
      background-color: var(--primary-light);
      opacity: 0;
      transform: translate(-50%, -50%) scale(0%, 0%);
      @at-root #{$parent-selector}[data-theme='dark'] #{&} {
        background-color: var(--primary-dark);
      }

      @at-root #{$parent-selector}[data-state='hovered'] #{&} {
        opacity: 0.08;
        transform: translate(-50%, -50%) scale(100%, 100%);
      }

      @at-root #{$parent-selector}[data-state='focused'] #{&} {
        opacity: 0.12;
        transform: translate(-50%, -50%) scale(100%, 100%);
      }

      @at-root #{$parent-selector}[data-state='pressed'] #{&} {
        opacity: 0.12;
        transform: translate(-50%, -50%) scale(100%, 100%);
      }
    }

    &__shape {
      width: $handle-shape-size-idle;
      height: $handle-shape-size-idle;

      @at-root #{$parent-selector}[data-state='pressed'] #{&} {
        width: $handle-shape-size-pressed;
        height: $handle-shape-size-pressed;
      }

      > * {
        background-color: var(--primary-light);
        @at-root #{$parent-selector}[data-theme='dark'] #{&} {
          background-color: var(--primary-dark);
        }
      }

      &__tick {
        &:nth-of-type(1) {
          inset: 0 calc(50% - 0.5 * $handle-shape-tick-width-idle)
            calc(50% + 0.5 * $handle-shape-tick-gap-idle);
          @at-root #{$parent-selector}[data-state='pressed'] #{&} {
            inset: 0 calc(50% - 0.5 * $handle-shape-tick-width-pressed)
              calc(50% + 0.5 * $handle-shape-tick-gap-pressed);
          }
        }

        &:nth-of-type(2) {
          inset: calc(50% - 0.5 * $handle-shape-tick-width-idle) 0
            calc(50% - 0.5 * $handle-shape-tick-width-idle)
            calc(50% + 0.5 * $handle-shape-tick-gap-idle);
          @at-root #{$parent-selector}[data-state='pressed'] #{&} {
            inset: calc(50% - 0.5 * $handle-shape-tick-width-pressed) 0
              calc(50% - 0.5 * $handle-shape-tick-width-pressed)
              calc(50% + 0.5 * $handle-shape-tick-gap-pressed);
          }
        }

        &:nth-of-type(3) {
          inset: calc(50% + 0.5 * $handle-shape-tick-gap-idle)
            calc(50% - 0.5 * $handle-shape-tick-width-idle) 0;
          @at-root #{$parent-selector}[data-state='pressed'] #{&} {
            inset: calc(50% + 0.5 * $handle-shape-tick-gap-pressed)
              calc(50% - 0.5 * $handle-shape-tick-width-pressed) 0;
          }
        }

        &:nth-of-type(4) {
          inset: calc(50% - 0.5 * $handle-shape-tick-width-idle)
            calc(50% + 0.5 * $handle-shape-tick-gap-idle)
            calc(50% - 0.5 * $handle-shape-tick-width-idle) 0;
          @at-root #{$parent-selector}[data-state='pressed'] #{&} {
            inset: calc(50% - 0.5 * $handle-shape-tick-width-pressed)
              calc(50% + 0.5 * $handle-shape-tick-gap-pressed)
              calc(50% - 0.5 * $handle-shape-tick-width-pressed) 0;
          }
        }
      }
    }
  }
}
