@import 'XYSlider.variant';

.xy-slider {
  $parent-selector: &;

  position: relative;
  width: min($min-size, 100%);
  min-width: $min-size;
  height: min($min-size, 100%);
  min-height: $min-size;

  &__track {
    position: absolute;
    inset: -0.5 * $handle-size;

    &__shape {
      position: absolute;
      inset: 0.5 * $handle-size;
      border-radius: $track-shape-rad;
      transition: background-color $duration $easing, opacity $duration $easing;
      @at-root #{$parent-selector}[data-is-track-clickable='true'] #{&} {
        cursor: pointer;
      }
    }
  }

  &__handle {
    position: absolute;
    top: calc((100% - $handle-size) * var(--y));
    left: calc((100% - $handle-size) * var(--x));
    width: $handle-size;
    height: $handle-size;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &__state {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $handle-state-size;
      height: $handle-state-size;
      border-radius: $handle-state-rad;
      transition: opacity $duration $easing, transform $duration $easing;
    }

    &__shape {
      position: absolute;
      top: 50%;
      left: 50%;
      transition: width $duration $easing, height $duration $easing,
        opacity $duration $easing;
      transform: translate(-50%, -50%);

      &__tick {
        position: absolute;
        border-radius: $handle-shape-tick-rad;
        transition: inset $duration $easing;
      }
    }
  }
}
