$min-size: 12.5rem;
$handle-size: 3rem;
$handle-shape-size-false: 1rem;

.xyslider {
  position: relative;
  width: min($min-size, 100%);
  min-width: $min-size;
  height: min($min-size, 100%);
  min-height: $min-size;

  &__track {
    position: absolute;
    inset: -0.5 * $handle-size;
  }

  &__background {
    position: absolute;
    inset: 0.5 * $handle-size;
    background-color: var(--surface-container-highest-light);
    border-radius: 0.125rem;
  }

  &__handle {
    position: absolute;
    top: 0;
    left: 0;
    width: $handle-size;
    height: $handle-size;
    transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px));
  }

  &__handle-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $handle-shape-size-false;
    height: $handle-shape-size-false;
    border: 0.25rem solid oklch(40% 0 0deg);
    border-radius: 0.5 * $handle-shape-size-false;
    transition: border-width 100ms ease-in;
    transform: translate(-50%, -50%);

    @at-root .xyslider--state-pressed #{&} {
      border-width: 0.125rem;
    }
  }
}
