@import 'XYSlider.variant';

.slider {
  position: relative;
  width: min($min-size + 2 * $handle-size, 100%);
  min-width: $min-size + 2 * $handle-size;
  height: min($min-size + 2 * $handle-size, 100%);
  min-height: $min-size + 2 * $handle-size;

  &-shape {
    position: absolute;
    inset: 0;
    border-radius: $rad;
  }

  &__track {
    position: absolute;
    inset: 0;
  }

  &__track-shape {
    position: absolute;
    inset: 0.5 * $handle-size;
  }

  &__handle {
    position: absolute;
    top: 0;
    left: 0;
    width: $handle-size;
    height: $handle-size;
    transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px));
  }

  &__handle-state {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc($handle-state-size * sqrt(2) * 0.5);
    height: calc($handle-state-size * sqrt(2) * 0.5);
    border-radius: $handle-state-rad;
    transition: opacity $duration $easing, transform $duration $easing;
  }

  &__handle-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: $handle-shape-rad;
    transition: background-color $duration $easing, width $duration $easing,
      height $duration $easing;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
