$min-size: 25rem;
$handle-size: 3rem;
$handle-state-size: 2.5rem;
$handle-shape-size-idle: 1rem;
$handle-shape-size-pressed: 1.75rem;
$handle-shape-rad: 0;
$handle-state-rad: 0.25rem;
$rad: 0.25rem;
$duration: 100ms;
$easing: ease-in;

.slider {
  $parent-selector: &;

  &__shape {
    background-color: var(--surface-container-low-light);
    @at-root #{$parent-selector}[data-theme='dark'] #{&} {
      background-color: var(--surface-container-low-dark);
    }
  }

  &__track {
    &__shape {
      background-color: var(--surface-container-highest-light);
      @at-root #{$parent-selector}[data-theme='dark'] #{&} {
        background-color: var(--surface-container-highest-dark);
      }
    }
  }

  &__handle {
    &__state {
      background-color: var(--on-surface-light);
      opacity: 0.08;
      transform: translate(-50%, -50%) rotate(45deg) scale(0%, 0%);
      @at-root #{$parent-selector}[data-theme='dark'] #{&} {
        background-color: var(--on-surface-dark);
      }

      @at-root #{$parent-selector}[data-state='hovered'] #{&} {
        opacity: 0.12;
        transform: translate(-50%, -50%) rotate(45deg) scale(100%, 100%);
      }
      @at-root #{$parent-selector}[data-state='focused'] #{&} {
        opacity: 0.12;
        transform: translate(-50%, -50%) rotate(45deg) scale(100%, 100%);
      }
      @at-root #{$parent-selector}[data-state='pressed'] #{&} {
        opacity: 0.16;
        transform: translate(-50%, -50%) rotate(45deg) scale(100%, 100%);
      }
    }

    &__shape {
      width: calc($handle-shape-size-idle * sqrt(2) * 0.5);
      height: calc($handle-shape-size-idle * sqrt(2) * 0.5);
      background-color: var(--outline-light);
      @at-root #{$parent-selector}[data-theme='dark'] #{&} {
        background-color: var(--outline-dark);
      }

      @at-root #{$parent-selector}[data-state='hovered'] #{&} {
        background-color: var(--on-surface-light);
        @at-root #{$parent-selector}[data-theme='dark']#{&} {
          background-color: var(--on-surface-dark);
        }
      }
      @at-root #{$parent-selector}[data-state='focused'] #{&} {
        background-color: var(--on-surface-light);
        @at-root #{$parent-selector}[data-theme='dark']#{&} {
          background-color: var(--on-surface-dark);
        }
      }
      @at-root #{$parent-selector}[data-state='pressed'] #{&} {
        width: calc($handle-shape-size-pressed * sqrt(2) * 0.5);
        height: calc($handle-shape-size-pressed * sqrt(2) * 0.5);
      }
    }
  }
}
