$width: 3.25rem;
$height: 2rem;
$border-width: 0.125rem;
$handle-size: 3rem;
$handle-state-size: 2.5rem;
$handle-shape-size-false: 1rem;
$handle-shape-size-pressed: 1.75rem;
$handle-shape-size-true: 1.5rem;

.toggle {
  $parent-selector: &;

  #{$parent-selector}__handle-state {
    opacity: 0.08;
    transform: translate(-50%, -50%) scale(0%, 0%);
  }

  &#{$parent-selector}--state-hovered,
  &#{$parent-selector}--state-focused {
    #{$parent-selector}__handle-state {
      opacity: 0.12;
      transform: translate(-50%, -50%) scale(100%, 100%);
    }
  }

  &#{$parent-selector}--state-pressed {
    #{$parent-selector}__handle-state {
      opacity: 0.16;
      transform: translate(-50%, -50%) scale(100%, 100%);
    }
    #{$parent-selector}__handle-shape {
      width: $handle-shape-size-pressed;
      height: $handle-shape-size-pressed;
    }
  }

  &--value-false {
    #{$parent-selector}__track {
      background-color: var(--surface-container-highest-light);
      border-color: var(--outline-light);
    }

    #{$parent-selector}__handle {
      transform: translate(-50%, -50%);
    }

    #{$parent-selector}__handle-state {
      background-color: var(--on-surface-light);
    }

    #{$parent-selector}__handle-shape {
      width: $handle-shape-size-false;
      height: $handle-shape-size-false;
      background-color: var(--outline-light);
    }

    &#{$parent-selector}--state-hovered,
    &#{$parent-selector}--state-focused {
      #{$parent-selector}__handle-shape {
        background-color: var(--on-surface-light);
      }
    }

    &#{$parent-selector}--state-pressed {
      #{$parent-selector}__handle-shape {
        background-color: var(--on-surface-light);
      }
    }
  }

  &--value-true {
    #{$parent-selector}__track {
      background-color: var(--primary-light);
      border-color: var(--primary-light);
    }

    #{$parent-selector}__handle {
      transform: translate(calc(-50% + $width - $height), -50%);
    }

    #{$parent-selector}__handle-state {
      background-color: var(--primary-container-light);
    }

    #{$parent-selector}__handle-shape {
      width: $handle-shape-size-true;
      height: $handle-shape-size-true;
      background-color: var(--on-primary-light);
    }

    &#{$parent-selector}--state-hovered,
    &#{$parent-selector}--state-focused {
      #{$parent-selector}__handle-shape {
        background-color: var(--primary-container-light);
      }
    }

    &#{$parent-selector}--state-pressed {
      #{$parent-selector}__handle-shape {
        background-color: var(--primary-container-light);
      }
    }
  }
}
