@import '_Toggle.variant';

.toggle {
  position: relative;
  width: $width;
  height: $height;
  transition: all 500ms ease-in;

  &__track {
    position: absolute;
    inset: 0;
    border-style: solid;
    border-width: $border-width;
    transition: all 500ms ease-in;
  }

  &__handle {
    position: absolute;
    top: 50%;
    left: 0.5 * $height;
    width: $handle-size;
    height: $handle-size;
    transition: all 500ms ease-in;
  }

  &__handle-state {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $handle-state-size;
    height: $handle-state-size;
    transition: all 500ms ease-in;
  }

  &__handle-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 500ms ease-in;
    transform: translate(-50%, -50%);
  }
}
