$h: 2rem;
$border-thickness: 0.125rem;
$thumb-size-false: 1rem;
$thumb-size-hover: 1.75rem;
$thumb-size-true: 1.5rem;

.toggle {
  position: relative;
  width: 3.25rem;
  height: $h;
  background-color: oklch(90% 0 0deg);
  border: $border-thickness solid oklch(50% 0 0deg);
  border-radius: 0.5 * $h;
  transition: all 150ms ease-in;

  &--state {
    &-true {
      background-color: oklch(40% 0 0deg);
      border-color: oklch(40% 0 0deg);
    }
  }

  &__thumb {
    position: absolute;
    top: 50%;
    right: unset;
    left: 0.875rem;
    width: $thumb-size-false;
    height: $thumb-size-false;
    background-color: oklch(50% 0 0deg);
    border-radius: 0.5 * $thumb-size-false;
    transition: all 100ms ease-in;
    transform: translate(-50%, -50%);

    &:hover {
      width: $thumb-size-hover;
      height: $thumb-size-hover;
      background-color: oklch(30% 0 0deg);
      border-radius: 0.5 * $thumb-size-hover;
    }

    @at-root .toggle--state-true #{&} {
      width: $thumb-size-true;
      height: $thumb-size-true;
      background-color: oklch(100% 0 0deg);
      border-radius: 0.5 * $thumb-size-true;
      transform: translate(calc(-50% + 1.25rem), -50%);

      &:hover {
        width: $thumb-size-hover;
        height: $thumb-size-hover;
        border-radius: 0.5 * $thumb-size-hover;
      }
    }
  }
}
