$button-size: 3rem;
$button-visible-size: 2.5rem;
$font-size: 1rem;
$line-height: 1.5rem;
$input-px: 1rem;
$rad: 0.25rem;
$duration: 200ms;
$easing: cubic-bezier(0.2, 0, 0, 1);

.number-field {
  $root-selector: &;

  &__root {
    display: grid;
    grid-template-rows: $button-size;
    grid-template-columns:
      $button-size minmax(calc(var(--min-ch) * 1ch + 2 * $input-px), 1fr)
      $button-size;
    place-items: stretch stretch;
    min-width: calc(var(--min-ch) * 1ch + 2 * $input-px + 2 * $button-size);
    max-width: calc(
      (var(--min-ch) + 2) * 1ch + 2 * $input-px + 2 * $button-size
    );
    font-size: $font-size;
    font-style: normal;
    font-weight: 400;
    line-height: $line-height;
  }

  &__group {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  &__input {
    $parent-selector: &;

    position: relative;
    z-index: 3;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    padding-block: 0;
    padding-inline: $input-px;
    margin-block: 0.5 * ($button-size - $button-visible-size);
    font: inherit;
    color: var(--on-secondary-container-light);
    text-align: right;
    background-color: transparent;
    border: 0;
    border-radius: $rad;
    transition: color $duration $easing;
    @at-root #{$root-selector}[data-theme='dark'] #{&} {
      color: var(--on-secondary-container-dark);
    }

    &:focus {
      outline: none;
    }

    &[data-disabled] {
      color: color-mix(in oklch, var(--on-surface-light) 38%, transparent);
      @at-root #{$root-selector}[data-theme='dark'] #{&} {
        color: color-mix(in oklch, var(--on-surface-dark) 38%, transparent);
      }
    }

    &__shape {
      position: relative;
      z-index: 1;
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      margin-block: 0.5 * ($button-size - $button-visible-size);
      background-color: var(--secondary-container-light);
      border-radius: $rad;
      transition: background-color $duration $easing;
      @at-root #{$root-selector}[data-theme='dark'] #{&} {
        background-color: var(--secondary-container-dark);
      }

      @at-root #{$parent-selector}[data-disabled] ~ #{&} {
        background-color: color-mix(
          in oklch,
          var(--on-surface-light) 12%,
          transparent
        );
        @at-root #{$root-selector}[data-theme='dark'] #{&} {
          background-color: color-mix(
            in oklch,
            var(--on-surface-dark) 12%,
            transparent
          );
        }
      }
    }

    &__state {
      position: relative;
      z-index: 2;
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      margin-block: 0.5 * ($button-size - $button-visible-size);
      background-color: var(--on-secondary-container-light);
      border-radius: $rad;
      opacity: 0;
      transition: background-color $duration $easing, opacity $duration $easing,
        transform $duration $easing;
      transform: scale(0%, 100%);
      @at-root #{$root-selector}[data-theme='dark'] #{&} {
        background-color: var(--on-secondary-container-dark);
      }

      @at-root .number-field__input[data-hovered] ~ #{&} {
        opacity: 0.08;
        transform: scale(100%, 100%);
      }
      @at-root #{$parent-selector}[data-focused] ~ #{&} {
        opacity: 0.08;
        transform: scale(100%, 100%);
      }
      @at-root #{$parent-selector}[data-focus-visible] ~ #{&} {
        opacity: 0.08;
        transform: scale(100%, 100%);
      }
      @at-root #{$parent-selector}[data-disabled] ~ #{&} {
        opacity: 0;
        transform: scale(0%, 100%);
      }
    }
  }

  &__button {
    grid-row: 1 / span 1;

    &--part {
      &-decrease {
        grid-column: 1 / span 1;
      }

      &-increase {
        grid-column: 3 / span 1;
      }
    }
  }
}
