.xyslider-track-shape {
  background-color: transparent !important;
}

.react-aria-ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: var(--visual-viewport-height);
  background: rgba(0 0 0 / 50%);

  &[data-entering] {
    animation: modal-fade 200ms;
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
  }
}

.react-aria-Modal {
  max-width: 300px;
  color: black;
  background: blue;
  border: 1px solid 'white';
  border-radius: 6px;
  outline: none;
  box-shadow: 0 8px 20px rgba(0 0 0 / 10%);

  &[data-entering] {
    animation: modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .react-aria-TextField {
    margin-bottom: 8px;
  }
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
