$button-size: 3rem;
$drawer-button-py: 0.75rem;
$drawer-button-px: 0.25 * $button-size;
$drawer-w: 30rem;
$drawer-w-fold: $button-size + 2 * $drawer-button-px;
$menu-px: $drawer-button-px;
$duration: 200ms;
$easing: cubic-bezier(0.2, 0, 0, 1);
$transition: $duration $easing;

.grid {
  display: grid;
  grid-template-rows: $button-size + 2 * $drawer-button-py 1fr;
  grid-template-columns: $drawer-w-fold calc(100% - $drawer-w-fold);
  place-items: stretch stretch;
  width: 100%;
  height: 100dvh;
  transition: grid-template-columns $transition $duration;

  &:has(.drawer[data-opened]) {
    grid-template-columns: $drawer-w calc(100% - $drawer-w);
    transition: grid-template-columns $transition;
  }
}

.drawer {
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-row: 1 / -1;
  grid-column: 1;
  place-items: stretch stretch;
  background-color: var(--surface-container-low-light);

  &[data-theme='dark'] {
    background-color: var(--surface-container-low-dark);
  }

  &[data-opened] {
    background-color: var(--surface-container-high-light);

    &[data-theme='dark'] {
      background-color: var(--surface-container-high-dark);
    }
  }

  &__button {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    place-items: center end;
    padding-inline: $drawer-button-px;
  }

  &__scrollable {
    grid-row: 2;
    grid-column: 1;
    overflow: scroll;
    scrollbar-width: none;
  }
}

.controller {
  min-height: 100%;
  opacity: 0;
  transition: opacity $transition;

  @at-root .grid:has(.drawer[data-opened]) #{&} {
    opacity: 1;
    transition: opacity $transition $duration;
  }
}

.menu {
  display: grid;
  grid-row: 1;
  grid-column: 2;
  place-items: center end;
  padding-inline: $menu-px;
  background-color: var(--surface-container-low-light);

  &[data-theme='dark'] {
    background-color: var(--surface-container-low-dark);
  }
}

.main {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  place-items: center stretch;
  overflow: scroll;
  scrollbar-width: none;
  background-color: var(--surface-container-lowest-light);

  &[data-theme='dark'] {
    background-color: var(--surface-container-lowest-dark);
  }
}

.palettes {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 1rem;
  place-items: center stretch;
}
