.theme {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center end;
  margin-inline: 1.5rem;
}

.swatch-step {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  margin-inline: 1.5rem;
}

.hues {
  display: grid;
  grid-template-rows: min-content min-content 6rem min-content;
  grid-template-columns: repeat(2, 1fr);
  place-items: stretch stretch;

  &__title {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    margin-left: 1.5rem;
  }

  &__range {
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
    margin-inline: 1.5rem;
  }

  &__slider {
    grid-row: 3 / span 1;
    grid-column: 1 / -1;

    &--control {
      &-from {
        align-self: start;
      }

      &-to {
        align-self: end;
      }
    }
  }

  &__number-field {
    grid-row: 4 / span 1;

    &--control {
      &-from {
        grid-column: 1 / span 1;
        justify-self: start;
        margin-left: 20px;
      }

      &-to {
        grid-column: 2 / span 1;
        justify-self: end;
        margin-right: 20px;
      }
    }
  }
}

.l-c {
  display: grid;
  grid-template-rows: min-content 1fr 48px;
  grid-template-columns: repeat(2, 1fr);
  place-items: stretch stretch;

  &__title {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    margin-left: 1.5rem;
  }

  &__xy {
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
  }

  &__number-field {
    grid-row: 3 / span 1;

    &--control {
      &-x {
        grid-column: 1 / span 1;
        justify-self: start;
        margin-left: 20px;
      }

      &-y {
        grid-column: 2 / span 1;
        justify-self: end;
        margin-right: 20px;
      }
    }
  }
}

.create {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center start;
  margin-inline: 1.5rem;
}
