*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Martian Mono', monospace;
  font-variation-settings: 'wdth' 100;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  transition: color 200ms ease-in, background-color 200ms ease-in;

  &[data-theme='light'] {
    color: var(--on-bg-light);
    background-color: var(--bg-light);
  }

  &[data-theme='dark'] {
    color: var(--on-bg-dark);
    background-color: var(--bg-dark);
  }
}
