@import 'IconButton.variant';

.icon-button {
  $parent-selector: &;

  position: relative;
  width: $height;
  height: $height;
  overflow: hidden;
  cursor: pointer;
  border-radius: $rad;

  &:focus {
    outline: none;
  }

  &__shape {
    position: absolute;
    inset: 0;
    border-radius: $rad;
    transition: background-color $duration $easing,
      border-color $duration $easing, opacity $duration $easing;
  }

  &__state {
    position: absolute;
    inset: 0;
    transition: background-color $duration $easing, opacity $duration $easing;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $icon-size;
    height: $icon-size;
    transition: color $duration $easing, opacity $duration $easing;
    transform: translate(-50%, -50%);

    &__icon {
      font-size: $icon-size;
      line-height: $icon-size;
      transition: font-variation-settings $duration $easing;
    }
  }
}
