$min-width: 6.25rem;
$max-width: 25rem;
$track-height: 1rem;
$thumb-size: 3rem;
$thumb-shape-height: 1.5rem;
$thumb-shape-height-pressed: 1.75rem;
$track-indicator-gap: 1rem;
$track-rad-l: 0.25rem;
$track-rad-s: 0.125rem;
$thumb-shape-width: 0.25rem;
$thumb-shape-width-pressed: 0.125rem;
$thumb-shape-rad: 0.125rem;
$state-width: 2.5rem;
$state-height: $state-width;
$state-rad: 0.25rem;

.slider {
  $parent-selector: &;

  min-width: $min-width;
  max-width: $max-width;
  height: max($track-height, $thumb-shape-height);

  &__track {
    top: 50%;
    left: 50%;
    width: 100%;
    height: $track-height;
    transform: translate(-50%, -50%);

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: '';
      isolation: isolate;
    }

    &::before {
      inset: 0
        calc(100% * (1 - var(--normalized-value)) + 0.5 * $track-indicator-gap)
        0 0;
      z-index: 1;
      background-color: var(--primary-light);
      border-radius: $track-rad-l $track-rad-s $track-rad-s $track-rad-l;
    }

    &::after {
      inset: 0 0 0
        calc(100% * var(--normalized-value) + 0.5 * $track-indicator-gap);
      z-index: 1;
      background-color: var(--secondary-container-light);
      border-radius: $track-rad-s $track-rad-l $track-rad-l $track-rad-s;
    }
  }

  &__thumb {
    top: 50%;
    z-index: 2;
    width: $thumb-size;
    height: $thumb-size;
    isolation: isolate;
    transform: translateY(-50%);

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      content: '';
      isolation: isolate;
    }

    &::before {
      z-index: 1;
      width: $state-width;
      height: $state-height;
      background-color: var(--primary-light);
      border-radius: $state-rad;
      opacity: 0.08;
      transform: translate(-50%, -50%) scale(100%, 100%);
    }

    &::after {
      z-index: 2;
      width: $thumb-shape-width;
      height: $thumb-shape-height;
      background-color: var(--primary-light);
      border-radius: $thumb-shape-rad;
      transform: translate(-50%, -50%);
    }
  }
}
