$min-width: 12.5rem;
$track-height: 1rem;
$thumb-pointer-width: 1.5rem;
$thumb-pointer-height: 3rem;
$thumb-height: 2.75rem;
$thumb-width: 0.375rem;
$thumb-width-pressed: 0.25rem;
$track-rad: 0.25rem;

.slider {
  position: relative;
  display: inline-block;
  width: $min-width;
  min-width: min($min-width, 100%);
  max-width: 100%;
  height: max($thumb-height, $thumb-pointer-height);
  touch-action: none;
  user-select: none;
  background-color: aqua;

  &-track {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: calc(100% - $thumb-pointer-width);
    height: $track-height;
    background-color: bisque;
    transform: translate(-50%, -50%);
  }

  &-thumb {
    display: block;
    width: $thumb-pointer-width;
    height: $thumb-pointer-height;

    &-state {
    }

    &-shape {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: $thumb-width;
      height: $thumb-height;
      background-color: var(--primary-light);
      transform: translate(-50%, -50%);
    }
  }
}
