@charset "UTF-8";
.slider {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.horizontal {
  width: 100%;
  height: 20px; /* 트랙의 높이를 적절히 설정 */
}

.vertical {
  width: 20px; /* 트랙의 너비를 적절히 설정 */
  height: 100%;
}

.slider-track {
  position: absolute;
  background: #ddd;
}

.horizontal .slider-track {
  top: 50%;
  width: 100%;
  height: 10px;
  transform: translateY(-50%);
}

.vertical .slider-track {
  left: 50%;
  width: 10px;
  height: 100%;
  transform: translateX(-50%);
}

.slider-handle {
  position: absolute;
  width: 20px; /* Thumb의 크기 */
  height: 20px; /* Thumb의 크기 */
  cursor: pointer;
  background: #007bff;
  border-radius: 50%;
}

.horizontal .slider-handle {
  top: 50%;
  transform: translateY(-50%);
}

.vertical .slider-handle {
  left: 50%;
  transform: translateX(-50%);
}