$min-size: 12.5rem;
$track-thickness: 0.5rem;
$thumb-size: 3rem;
$icon-size: 1.5rem;

.slider {
  position: relative;
  margin-block: 3rem;
  user-select: none;
  background-color: oklch(80% 0 0deg);

  &--dir-horizontal {
    width: $min-size;
    height: $track-thickness;
  }

  &--dir-vertical {
    width: $track-thickness;
    height: $min-size;
  }

  &__track {
    position: absolute;

    @at-root .slider--dir-horizontal #{&} {
      inset: 0 -0.5 * $thumb-size;
    }

    @at-root .slider--dir-vertical #{&} {
      inset: -0.5 * $thumb-size 0;
    }
  }

  &__thumb {
    position: absolute;
    width: $thumb-size;
    height: $thumb-size;
    cursor: pointer;

    @at-root .slider--dir-horizontal #{&} {
      top: calc(50% - 0.5 * $thumb-size);
      transform: translateX(calc(var(--x) * 1px));
    }

    @at-root .slider--thumb-dir-top #{&} {
      top: -$thumb-size + 0.5 * ($thumb-size - $icon-size);
      transform: translateX(calc(var(--x) * 1px));
    }

    @at-root .slider--thumb-dir-bottom #{&} {
      top: calc(100% - 0.5 * ($thumb-size - $icon-size));
      transform: translateX(calc(var(--x) * 1px));
    }

    @at-root .slider--dir-vertical #{&} {
      left: calc(50% - 0.5 * $thumb-size);
      transform: translateY(calc(var(--y) * 1px));
    }

    @at-root .slider--thumb-dir-left #{&} {
      left: -$thumb-size + 0.5 * ($thumb-size - $icon-size);
      transform: translateY(calc(var(--y) * 1px));
    }

    @at-root .slider--thumb-dir-right #{&} {
      left: calc(100% - 0.5 * ($thumb-size - $icon-size));
      transform: translateY(calc(var(--y) * 1px));
    }
  }

  &__icon {
    $offset-l: 50%;
    $offset-w: 0%;

    position: absolute;
    top: 50%;
    left: 50%;
    width: $icon-size;
    height: $icon-size;
    background-color: oklch(30% 0 0deg);
    transform: translate(-50%, -50%);

    @at-root .slider--thumb-dir-center #{&} {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    @at-root .slider--thumb-dir-top #{&} {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    @at-root .slider--thumb-dir-bottom #{&} {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    @at-root .slider--thumb-dir-left #{&} {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    @at-root .slider--thumb-dir-right #{&} {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
  }
}
